<style>
    .email {
        padding: 1rem;
    }

    .Header {
        background: #0170B9;
        max-height: 200px;
        display: flex;
    }

    .Header h1 {
        color: white;
        padding: 1rem;
    }

    .content {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    }

        .content p {
            font-size: 20px;
        }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="email">
    <div class="Header">
        <img src="alt="/>
        <h1>Sistema de información de prestaciones económicas</h1>
    </div>

    <div class="content">
        <br>
        <p>Señores (Razón Social y NIT), el Sistema de Información de Prestaciones Económicas, ha registrado un pago para la incapacidad número (número incapacidad) de origen (laboral o común), al afiliado (nombres y apellidos del paciente) identificado con (tipo documento) número (número de documento) pago realizado en la fecha (fecha de pago Incapacidad), valor pagado (valor pagado incapacidad). Se realiza esta notificación para su información y los trámites correspondientes.</p>
        <br>
        <p>Este mensaje es solo informativo, si requiere más información remítase a la mesa de ayuda soporte@gov.gov.co o al teléfono en Bogotá al 123456 y en el resto del país Salud en el horario de lunes a viernes de 7:00 a.m. a 9:00 p.m. y los sábados de 9:00 a.m. a 1:00 p.m. en jornada continua</p>
    </div>
</div>