<br>
<footer >
    <div class="footer"></div>
        <div class="" >
            <div class="row">
                
                <div class="col-md-2">
                    <div class="form-group">
                        <img class="footer-img" src="" alt="">
                        <img class="" src="" alt="">
                    </div>
                </div>
                <div class="col-md-6" >
                    
                        <p > SISTEMA DE INFORMACIÓN DE PRESTACIONES ECONÓMICAS
                            <br >
                            <b > Dirección </b>
                                <br >Código postal 
                        </p>
                        <p >Última actualización: 
                                <br > julio 2021, 30 de septiembre de 2024
                        </p>
                </div>
                <div class="col-md-4" >
                    <p > <b>Contacto Mesa de Ayuda:</b>
                    <br>Tel: +57  
                    <br>incapacidades@correo.com
                    <br>Horario de Atención: Lunes a Viernes 07:00 AM - 05:00 PM
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </div>
</footer>
